
.vs/TaxesDemo/v16/.suo
bin/Debug/basket.json
bin/Debug/Newtonsoft.Json.dll
bin/Debug/Newtonsoft.Json.xml
bin/Debug/TaxesDemo.exe
bin/Debug/TaxesDemo.exe.config
bin/Debug/TaxesDemo.pdb
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/TaxesDemo.csproj.CopyComplete
obj/Debug/TaxesDemo.csproj.CoreCompileInputs.cache
obj/Debug/TaxesDemo.csproj.FileListAbsolute.txt
obj/Debug/TaxesDemo.csprojAssemblyReference.cache
obj/Debug/TaxesDemo.exe
obj/Debug/TaxesDemo.pdb
packages/Newtonsoft.Json.12.0.3/.signature.p7s
packages/Newtonsoft.Json.12.0.3/lib/net20/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.3/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.3/lib/net35/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.3/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.3/lib/net40/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.3/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.3/lib/net45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.3/lib/net45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.3/lib/netstandard1.0/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.3/lib/netstandard1.0/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.3/lib/netstandard1.3/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.3/lib/netstandard1.3/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.3/lib/netstandard2.0/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.3/lib/netstandard2.0/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.3/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.3/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.3/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.3/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.3/LICENSE.md
packages/Newtonsoft.Json.12.0.3/Newtonsoft.Json.12.0.3.nupkg
packages/Newtonsoft.Json.12.0.3/packageIcon.png
